.panel {
  .panel-header {
    padding: $vertical-padding $horizontal-padding;
  }

  .panel-body {
    padding: $vertical-padding $horizontal-padding;
  }

  .panel-footer {
    padding: $vertical-padding $horizontal-padding;
  }
}
