{
  "stage"    : 0,
  "optional" : ["runtime"],
  "env"      : {
    "development" : {
      "plugins" : ["react-transform"],
      "extra"   : {
        "react-transform" : {
          "transforms" : [
            {
              "transform" : "react-transform-catch-errors",
              "imports"   : ["react", "redbox-react"]
            },
            {
              "transform" : "react-transform-hmr",
              "imports"   : ["react"],
              "locals"    : ["module"]
            }
          ]
        }
      }
    }
  }
}
