{
  "extends" : "airbnb",
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NW__" : false
  },
  "rules": {
    "comma-dangle" : [1, "never"],
    "key-spacing"  : [0, {
      "beforeColon" : true,
      "afterColon"  : true
    }],
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "no-multi-spaces" : 0,
    "quotes" : [2, "single"]
  }
}
