sudo: false
language: node_js
node_js:
  - "5.0"

cache:
  directories:
    - node_modules

install:
  - npm install
  - npm install -g codeclimate-test-reporter

script:
  - NODE_ENV=development npm run deploy
  - NODE_ENV=staging npm run deploy
  - NODE_ENV=production npm run deploy

after_script:
  - codeclimate-test-reporter < coverage/*/lcov.info
