{
  "extends" : "../.eslintrc",
  "env"     : {
    "mocha" : true
  },
  "globals" : {
    "expect" : false,
    "should" : false,
    "sinon"  : false
  },
  "rules": {
    "max-nested-callbacks": [1, 4]
  }
}
