$brand-primary: #2d95f4;

.dashboard-nav {
  position: relative;
  background-image: url(https://beta.seekster.co/assets/landing_page/hero/maid-591fe45ae6e24f970e55d265d07830f8ce9bd390f7f497bc6bcfbd401baec49b.jpg);
  background-position: center;
  padding: 0 30px;
  color: white;
}

.dashboard-nav-group {
  display: inline-block;

  ul {
    list-style: none;
    
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}

.dashboard-nav-left {
  width: 25%;
  .title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
}

.dashboard-nav-center {
  text-align: center;
  width: 49%;
  .navigation {
    padding: 0;
    margin: 0;
    li {
      padding: 8px 10px;
      padding-top: 15px;
      margin: 0;
      &.active {
        padding-left: 0;
      }
      &.inactive {
        padding-right: 0;
      }
      a:hover {
        text-decoration: none;
        font-weight: bold;
        padding-bottom: 9px;
        color: white;
      }
    }
  }
}

.dashboard-nav-right {
  text-align: right;
  width: 25%;
  .dashboard-nav-actions {
    margin: 0;
    padding: 0;
    a {
      border: 1px solid white;
      border-bottom: none;
      padding: 12px;
      &:hover {
        background-color: $brand-primary;
        padding-top: 15px;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
}
