$brand-primary: #2d95f4;

.panel-inquiryCard {
  display: inline-block;
  width: 345px;

  @media (max-width: 420px) {
    width: 100%;
  }
}

.inquiryCard-header {
  border-bottom: 2px solid $brand-primary;
  color: #333;

  .title {
    font-weight: bold;
    line-height: 1.1;
  }

  .subtitle {
    margin: 0;
    margin-top: 3px;
    font-style: italic;
    font-size: 1em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }

  .label {
    position: absolute;
    right: 10px;
    top: 20px;
    color: $brand-primary;
    background-color: white;
    border: 1px solid $brand-primary;
    border-radius: .25em;
    font-size: 80%;
    padding: 0.3em 0.6em;
  }
}

.inquiryCard-body {
  .details {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #999;

    li {
      margin-bottom: 5px;

      i {
        vertical-align: baseline;
        display: inline-block;
        width: 25px;
        color: #666;

      }

      p {
        vertical-align: top;
        display: inline-block;
        max-width: calc(100% - 30px);
        margin: 0;
      }
    }
  }

  .package {
    padding: 15px 0;
    border-bottom: 1px solid #999;

    .name {
      float: right;
    }
  }

  .description {
    padding-top: 10px;

    p {
      margin: 0;
      padding-bottom: 10px;
    }
  }
}

.inquiryCard-actions {
  border-top: 1px solid #ccc;
  min-height: 41px;
}
