$brand-primary: #2d95f4;
$brand-secondary: #ff944a;

$brand-success: #18cb88;
$brand-warning: #ffca00;
$brand-error: #f5474f;
$brand-disabled: #999;

$vertical-padding: 10px;
$horizontal-padding: 15px;

$border-radius: 4px;
$border-color: #ccc;
