$brand-primary: #2d95f4;

.panel-login{
  max-width: 428px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  .panel-header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: $brand-primary;
    color: white;
  }

  .panel-body {
    text-align: center;
    form {
      margin: 0;
    }
    input {
      width: 100%;
    }
  }

  input[type=submit] {
    background-color: #fff;
    border-color: #ccc;
    border-radius: 4px;
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}
